<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- AR Core requirements -->
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IsyaratPintar"
        tools:targetApi="31">

        <!-- AR Core metadata -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.IsyaratPintar.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.IsyaratPintar.NoActionBar" />

        <!-- Belajar Huruf Activity -->
        <activity
            android:name=".BelajarHurufActivity"
            android:exported="false"
            android:theme="@style/Theme.IsyaratPintar.NoActionBar"/>

        <!-- AR Mode Activity -->
        <activity
            android:name=".ARModeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IsyaratPintar.NoActionBar"/>

        <!-- Kuis Activity -->
        <activity
            android:name=".KuisActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.IsyaratPintar.NoActionBar"/>

        <!-- Tentang Activity -->
        <activity
            android:name=".TentangActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.IsyaratPintar.NoActionBar"/>

    </application>

</manifest>
